<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zadanie1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AA8D89F1DCE516F00F23374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA8D8B31DCE516F00F23374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA8D8BE1DCE516F00F23374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
